header, header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul {
    gap: 1rem;
}

ul {
    list-style-type: none;
}

h1{
    text-align: center;
    font-weight: bold;
}

nav {
    background-color: bisque;
    justify-content: flex-end;
}

nav li{
    justify-content: space-evenly;
}

.error{
    background-color: red;
    color: white;
    font-weight: bold;
    padding: 1rem;
}
